{% extends 'layout.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <h1>Event index</h1>
        <a href="{{ path('event_new') }}">Create new</a>
        <table class="table">
            <thead>
            <tr>
                <th>Campus</th>
                <th>Title</th>
                <th>Date</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.campus.name }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.date ? event.date|date('d-m-Y') : '' }}</td>
                    <td>{{ event.hour ? event.hour|date('H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
